*{
    margin: 0;
    padding: 0;
}

/*Aquí personalizo la fuente de la página y el color de fondo*/
body{
    font-family: Arial, Helvetica, sans-serif;
    background: color #fff1d3;
}

/*Aqui personalizo la cabereza o menu de navegación*/
header{
    background-color:#5facd3;
    color: white;
    text-align: center;
}
#menu{
    list-style:none;
    display: flex;
    gap: 30px;
    justify-content: center;
    padding: 30px;

}
#menu a {
    text-decoration: none;
    color: white;
    background-color: #FFC349;
    padding: 15px 30px;
    border-radius: 10px;
    font-weight: bold;
    transition: all 0.3s ease;
}
#menu a:hover{
    background-color:#ffcb62;
}

/*Aqui voy a personalizar el cuerpo de mi pagina */
#Contenedor{
    display: flex;
    min-height: 500px;
    min-height: 100vh;
}
#PUBLICIDAD{
    width: 20%;
    background-color: #525EA7;
}
#contenido{
    width: 60%;
    background-color: white;
    padding: 20px;
}
#publicidad2{
    width: 20%;
    background-color: #525EA7;
}
iframe{
    width: 100%;
    height: 100%;
    border: 2px solid white;
    border-radius: 20px;
}
footer{
    background-color:#5facd3;
    color: white;
    text-align: center;
    padding: 80px;
}
/* AQUI PERSONALIZO PRODUCTOS  */
#galeria_prod{
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    gap: 20px;
}
.prod{
    background-color: #97DDE9;
    max-width: 200px;
    padding: 20px;
    border-radius: 20px;
   
}
.prod img{
    width: 100%;
    border-radius: 10px;
}
.prod:hover{
 box-shadow: 0px 5px 10px;
    transition: 0.5s;
}
button{
    padding: 10px;
background-color: #525EA7;
color: white;
border: none;
border-radius: 4px;
}
button:hover{
    background-color: #6b79d3;
}
/*AQUI PERSONALIZO SERVICIOS*/
#servicios_prd{
    display: grid;
}
/*Aquí personalizo la publicidad*/
#PUBLICIDAD img{
    width: 100%;
}
#publicidad2 img{
    width: 100%;
}
/*Aqui personalizo la portada*/
#portada img{
    width: 100%;

}
.portada img{
    width: 100%;
}
.portada img{
    width: 100%;
    mask-image:linear-gradient(to bottom, rgb(0, 0, 1) 70%, rgb(0, 0, 1) 100%); 
    -webkit-mask-image: linear-gradient( to bottom, black 70%, transparent 100%)
  
} 

.mis_vis{
    border: 3px #5facd3;
    width: 500px;
    border-radius: 30px;
    margin: auto;
    padding: 10px;
    box-shadow: 0px 5px 10px;
}
/* AQUI PERSONALIZO CONTACTO*/
form{
   max-width: 400px; 
   margin: auto;
   text-align: left;
}
.Contacto{
    width: 100%;
    background-color: #FFC349;
}
input , textarea{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}
#hamburguesa{
    font-size: 30px;
    cursor: pointer;
    display: none;
}
#activadormenu{
    display: none;
}
/*AQUI PERSONALIZO MI PAGINA PARA QUE SE ADAPTE A OTROS DISPOSITIVOS*/
@media (max-width:750px){
    #hamburguesa{
        display: block;
        font-size: 30px;
        cursor: pointer;
        padding: 10px;
    }
     #menu{
        display:  none;
        flex-direction: column;
        gap: 1px;
        padding: 0px;
        }
#menu a {
    display: flex;
    justify-content: center;
}
/*MOSTRAR MENU AL HACER CLIC*/
#activadormenu:checked + #hamburguesa + #menu {
    display: flex;
}
#Contenedor{
    flex-direction: column;
    text-align: center;
}
#PUBLICIDAD , #contenido, #publicidad2{
  width: 100%; 
}
#PUBLICIDAD img{
    width: 200px;
}
#publicidad2 img{
    width:200px;
    margin: auto;
}  
iframe{
    height: 1160px;
}   
#galeria_prod{
    grid-template-columns: repeat(1,auto);
}
#hamburguesa{
    display: block;
}
}
